@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 30, 30);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}

.caixa {
    height: 450px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 77, 88);
    color: rgb(20, 19, 19);
    position: relative;
}

.caixa:before, .caixa:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    background: linear-gradient(#ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    background-size: 300%;
    animation: anima 8s linear infinite;
}

@keyframes anima {
    0% {
        background-size: 0;
    }

    100% {
        background-size: 300;
    }
}

.caixa:after {
    filter: blur(30px);
}